{% extends 'base.html' %}
{% block title %} Home Page {% endblock title %}
{% block homeactive %} active{% endblock homeactive %}
{% block body %}

<div class="container">

<div class="jumbotron my-3">
  <h1 class="display-4">Welcome to ICoder Blog Post</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>“The Web as I envisaged it, we have not seen it yet. The future is still so much bigger than the past.”
  ---Tim Berners-Lee, Inventor of the World Wide Web.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<h2>Popular Blog Post</h2>
{% for item in param%}
<div class=" my-3 row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">{{item.author}}</strong>
        <h3 class="mb-0">{{item.title}}</h3>
        <div class="mb-1 text-muted">{{item.time_stamp}}</div>
        <p class="card-text mb-auto">{{item.content|truncatechars:200}}</p>
        <a href="/blog" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
             <img src='/{{item.image}}'  width="500" height="350" preserveAspectRatio="xMidYMid slice" >
        </div>
    </div>
{% endfor%}
</div>

{% endblock body %}