{% extends 'base.html' %}
{% block title %} BlogPost Home {% endblock title %}

{% block body %} <h1>
<div class="blog-post container">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <h4>By {{post.author}}</h4>
        <p style="font-size:20px;font-weight:400;" class="blog-post-meta">{{post.time_stamp}}<a href="#">Mark</a></p>

       
        
        <p style="font-size:20px;font-weight:400;">{{post.content}}</p>
        
       
      
      </div>
      

    




  {% endblock body %}